.group {
	clear: both;
}

.picture {
	background: #333333;
	box-shadow: 10px 10px 5px #888888;
	width: 19.5%;
	border: 5px solid #DDDDDD;
	margin: 2%;
}

.topLink{
	color: #405580;
	text-decoration: underline;
}

.image {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
	height: 100px;
}

.caption {
	font-style: italic;
	color: #FFF;
	margin: 2px;
}

.clear {
	clear: both;
	height: 15px;
}

/**************** media stuff *********/

@media screen and (max-width: 740px) and (min-width : 479px) {
	.picture {
		width: 27%;
		margin: 2%;
	}
	
	.caption {
		font-size: 80%;
	}
}

@media screen and (max-width: 478px) {
	.picture {
		width: 43%;
		margin: 1%;
	}
	
	.caption {
		font-size: 80%;
	}
}