#image0000 {
	background: url(./../images/gallery/cutestCoach2015.jpg) no-repeat 50% 20%;
	background-size: cover;
}

#image0001 {
	background: url(./../images/gallery/shoryuhai2015GroupPic.jpg) no-repeat 50% 20%;
	background-size: cover;
}

#image0002 {
	background: url(./../images/gallery/UCGroupPic.jpg) no-repeat 50% 20%;
	background-size: cover;
}

#image0003 {
	background: url(./../images/gallery/shoryuhaiBromance.jpg) no-repeat 50% 20%;
	background-size: cover;
}

#image0100 {
	background: url(./../images/gallery/yuhihaiHeightGroupPic.jpg) no-repeat 50% 20%;
	background-size: cover;
}

#image0200 {
	background: url(./../images/gallery/spamMusubiSale.jpg) no-repeat 60% 70%;
	background-size: cover;
}

#image0300 {
	background: url(./../images/gallery/philipchan.jpg) no-repeat 60% 70%;
	background-size: cover;
}