/**
 * ACCORDION
 */

.accordion {
	width: 100%;
	padding: 0;
	margin: 0;
	display: block;
}

.accordion-header {
	display: none;
}

.accordion-content{
	box-shadow: 10px 10px 5px #888888;
	text-align: center;
	width: 95%;
	height: auto;
	margin-left: 2.5%;
	margin-bottom: 10px;
}

.accordion-content article{
	vertical-align: middle;
	display: block;
}

.accordion-content aside{
	display: block;
}

.accordion-content p{
	vertical-align: middle;
}

.mobileContent {
	display: none;
}

.officerPic {
	max-height: 500px;
}

@media screen and (max-width: 478px) {
	.accordion-header {
		display: block;
		padding: 15px 20px;
		background: #bbb;
		color: #fff;
		text-shadow: 1px 1px 0 rgba(0,0,0,.1);
		margin-bottom: 5px;
	}
		
	.accordion-content{
		border: none;
		box-shadow: none;
		padding:0;
		height: 0;
		overflow: hidden;
		margin-bottom: 0px;
	}

	.accordion-content p {
		float: none;
		width: 90%;
		padding: 20px;
	}

	.accordion-content:target {
		height: auto;
	}
	
	.accordion-content article{
		display: none;
	}

	.accordion-content aside{
		display: none;
	}
	
	.mobileContent {
		display: block;
		text-align: center;
	}
	
	.officerPic {
		width: 60%;
		float: none;
	}

}